.footer{
    min-height: 630px;
    position: relative;
    &__info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: #C70101;
        padding: 50px 68px 60px 68px;
        }
    &__adress{
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }
    &__tel{
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover{
            color: #FFFFFF;
        }
    }
    &__social-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        img{
            height: 27px;
        }
    }
    &__social{
        display: flex;
        justify-content: center;

    }

}
   
